<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: head" lang="en"></head>
<body>
    <nav th:replace="fragments/base :: navbar"></nav>
    <div class="jumbotron">
        <div class="container">
            <br/>
            <h1>Welcome to Bullhorn!</h1>
            <p>This is a demonstration application for Spring Development</p>
            <p>Created by Dave Wolf, <br/>ported to Spring by Alton Henley</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                It's just beyond the vault. Discover room 7 of the #ANTIdiaRy at http://smarturl.it/AntidiaRyTW
            </div>
            <div class="panel-footer">Rihanna<span class="pull-right">1h</span></div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                #LA fan luv I'm be @1oakla tonight i want see fan luv let's win more ! #wethebest
            </div>
            <div class="panel-footer">DJ Khaled<span class="pull-right">6 Jan 2016</span></div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                bitch better have my mistletoe #rihannaxstance
            </div>
            <div class="panel-footer">Rihanna<span class="pull-right">2 Jan 2016</span></div>
        </div>
    </div>
    <footer th:replace="fragments/base :: footer"></footer>
</body>
</html>